extends layout

block content
    div(id='content', class='container')
        div(class='my-3')
            header
                h4
                    small(class='text-muted me-2') zasób
                    span(class='text-muted font-monospace me-3') ##{resource.id}
                h2
                    i(class='#{resource.icon} me-3')
                    span #{resource.title}
                    if resource.number
                        span(class='ms-2 fs-4 fst-italic text-muted') #{resource.number}
                    span(class='badge rounded-pill bg-secondary fw-lighter mx-2 fs-6') #{resource.type}

                if resource.authors
                    h6
                        each author, index in resource.authors
                            if index != 0
                                span &semi;&#32;
                            span #{author}

                else if resource.year || (resource.insideOfObj && resource.insideOfObj.year) || resource.publisher
                    h6
                        if resource.year
                            each year in resource.year
                                span(class='badge rounded-pill bg-secondary fw-lighter me-2') #{year}
                        if resource.publisher
                            span(class='text-muted') #{resource.publisher}

        div(class='mt-5')
            if insideOfResources.length > 0
                a(href='#contents' class='btn btn-outline-secondary btn-sm btn-of-contents me-3 px-3')
                    i(class='bi bi-caret-down-fill me-2')
                    span W środku
            if duplicateResources.length > 0
                a(href='#duplicates' class='btn btn-outline-secondary btn-sm btn-of-contents me-3 px-3')
                    i(class='bi bi-caret-down-fill me-2')
                    span Inne egzemplarze
            if similarResources.length > 0
                if resource.number
                    a(href='#numbers' class='btn btn-outline-secondary btn-sm btn-of-contents me-3 px-3')
                        i(class='bi bi-caret-down-fill me-2')
                        span Inne numery
                else
                    a(href='#similar' class='btn btn-outline-secondary btn-sm btn-of-contents me-3 px-3')
                        i(class='bi bi-caret-down-fill me-2')
                        span Podobne

        table(class='table table-bordered my-3')
            tbody
                tr
                    th Sygnatura
                    td
                        span(class='text-muted font-monospace') ##{resource.id}

                tr
                    th Tytuł
                    td #{resource.title}

                if resource.authors
                    tr
                        th(rowspan=resource.authors.length+1) Autorzy
                    each author in resource.authors
                        tr
                            td
                                span #{author}
                                a(href='/search?query=author:#{author}&deep=0' class='ms-1')
                                    i(class='bi bi-list')
                else
                    tr
                        th Autorzy
                        td

                tr
                    th Wydawca
                    td
                        if resource.publisher
                            span #{resource.publisher}
                            a(href='/search?query=publisher:#{resource.publisher}&deep=0' class='ms-1')
                                i(class='bi bi-list')

                tr
                    th Rodzaj
                    td #{resource.type}

                if resource.year
                    tr
                        th(rowspan=resource.year.length+1) Rok
                    each year in resource.year
                        tr
                            td #{year}
                else
                    tr
                        th Rok
                        td

                if resource.number
                    tr
                        th Numer
                        td #{resource.number}

                if resource.insideOfObj
                    tr
                        th Zawarte w
                        td
                            if resource.insideOfObj
                                i(class='#{resource.insideOfObj.icon}')
                                span(class='ms-2')
                                a(href='/#{resource.insideOfObj.id}') #{resource.insideOfObj.title}
                                if resource.insideOfObj.number
                                    span(class='mx-1 text-muted fst-italic') #{resource.insideOfObj.number}
                                if resource.insideOfObj.year
                                    span(class='mx-1 text-muted') (#{resource.insideOfObj.year})

        if resource.comment
            div(class='card card-body bg-info my-3')
                p(class='card-text text-light') #{resource.comment}

        if insideOfResources.length > 0
            div(class='my-3 mt-5' id='contents')
                header
                    h4(class='toggler-js' toggler-icon='contents-icon' toggler-div='contents-div')
                        span(class='me-2')
                            i(class='bi bi-plus' id='contents-icon')
                        span W środku
                        span(class='badge rounded-pill bg-secondary fw-lighter mx-2 fs-6') #{insideOfResources.length}
                div(id='contents-div')
                    each resource in insideOfResources
                        - var showComment = true;
                        - var showInsideOf = false;
                        - var showSignature = false;
                        include ./card.jade

        if duplicateResources.length > 0
            div(class='my-3 mt-5' id='duplicates')
                header
                    h4(class='toggler-js' toggler-icon='duplicates-icon' toggler-div='duplicates-div')
                        span(class='me-2')
                            i(class='bi bi-plus' id='duplicates-icon')
                        span Inne egzemplarze
                        span(class='badge rounded-pill bg-secondary fw-lighter mx-2 fs-6') #{duplicateResources.length}
                div(id='duplicates-div')
                    each resource in duplicateResources
                        - var showComment = true;
                        - var showInsideOf = false;
                        - var showSignature = true;
                        include ./card.jade

        if similarResources.length > 0
            - var similarOrNumbers = 'similar';
            if resource.number
                - similarOrNumbers = 'numbers';

            div(class='my-3 mt-5' id='#{similarOrNumbers}')
                header
                    h4(class='toggler-js' toggler-icon='#{similarOrNumbers}-icon' toggler-div='#{similarOrNumbers}-div')
                        span(class='me-2')
                            i(class='bi bi-plus' id='#{similarOrNumbers}-icon')
                        if resource.number
                            span Inne numery
                        else
                            span Podobne
                        span(class='badge rounded-pill bg-secondary fw-lighter mx-2 fs-6') #{similarResources.length}
                div(id='#{similarOrNumbers}-div')
                    each resource in similarResources
                        - var showComment = true;
                        - var showInsideOf = false;
                        - var showSignature = true;
                        include ./card.jade
